.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  color: #159d1a;
  font-size: 2em;
  padding: 1em;
}

.App-header h2 {
  transition: all 2s linear;
}

.App-intro {
  font-size: large;
}
